In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [50]:
travel_df = pd.read_csv('../Travel.csv')

In [51]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

## Feature engineering

In [52]:
travel_df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [53]:
null_columns = [feature for feature in travel_df.columns if travel_df[feature].isnull().sum()>=1]
null_columns

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [54]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [55]:
travel_df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [56]:
travel_df['Gender'].replace('Fe Male', 'Female', inplace=True)

In [57]:
travel_df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [58]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [59]:
travel_df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [60]:
travel_df['MaritalStatus'].replace('Single', 'Unmarried', inplace=True)

In [61]:
travel_df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [62]:
travel_df['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [63]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [64]:
print(null_columns)

['Age', 'TypeofContact', 'DurationOfPitch', 'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome']

In [65]:
travel_df['MonthlyIncome'].mode()[0]

np.float64(17342.0)

In [66]:
travel_df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [67]:
travel_df['Age'].fillna(travel_df['Age'].median(), inplace=True)
travel_df['TypeofContact'].fillna(travel_df['TypeofContact'].mode()[0], inplace=True)
travel_df['DurationOfPitch'].fillna(travel_df['DurationOfPitch'].median(), inplace=True)
travel_df['NumberOfFollowups'].fillna(travel_df['NumberOfFollowups'].mode()[0], inplace=True)
travel_df['PreferredPropertyStar'].fillna(travel_df['PreferredPropertyStar'].mode()[0], inplace=True)
travel_df['NumberOfTrips'].fillna(travel_df['NumberOfTrips'].median(), inplace=True)
travel_df['NumberOfChildrenVisiting'].fillna(travel_df['NumberOfChildrenVisiting'].mode()[0], inplace=True)
travel_df['MonthlyIncome'].fillna(travel_df['MonthlyIncome'].median(), inplace=True)

In [68]:
travel_df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [69]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [70]:
travel_df['TotalVisitors'] = travel_df['NumberOfPersonVisiting'] + travel_df['NumberOfChildrenVisiting']
travel_df.drop('NumberOfPersonVisiting' , inplace=True, axis=1)
travel_df.drop('NumberOfChildrenVisiting' , inplace=True, axis=1)

In [71]:
travel_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisitors
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

## Encoding

In [72]:
travel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              4888 non-null   int64
 1   ProdTaken               4888 non-null   int64
 2   Age                     4888 non-null   float64
 3   TypeofContact           4888 non-null   object
 4   CityTier                4888 non-null   int64
 5   DurationOfPitch         4888 non-null   float64
 6   Occupation              4888 non-null   object
 7   Gender                  4888 non-null   object
 8   NumberOfFollowups       4888 non-null   float64
 9   ProductPitched          4888 non-null   object
 10  PreferredPropertyStar   4888 non-null   float64
 11  MaritalStatus           4888 non-null   object
 12  NumberOfTrips           4888 non-null   float64
 13  Passport                4888 non-null   int64
 14  PitchSatisfactionScore  4888 non-null   int64
 15  OwnCar                  4888 non-null   int64
 16  Designation             4888 non-null   object
 17  MonthlyIncome           4888 non-null   float64
 18  TotalVisitors           4888 non-null   float64
dtypes: float64(7), int64(6), object(6)
memory usage: 725.7+ KB

In [73]:
cat_features = travel_df.select_dtypes(include = object).columns
cat_features

Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [74]:
numeric_features = travel_df.select_dtypes(exclude = object).columns

In [75]:
X = travel_df.drop('ProdTaken', axis=1)
y = travel_df['ProdTaken']

In [76]:
X

,CustomerID,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisitors
0,200000,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,200001,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,200002,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,200003,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,200004,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,Manager,26576.0,4.0
4884,204884,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Unmarried,3.0,1,3,1,Executive,21212.0,6.0
4885,204885,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0,7.0
4886,204886,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Unmarried,3.0,0,5,0,Executive,20289.0,5.0
4887,204887,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Unmarried,3.0,1,3,1,Executive,24041.0,6.0

In [77]:
y

0       1
1       0
2       1
3       0
4       0
       ..
4883    1
4884    1
4885    1
4886    1
4887    1
Name: ProdTaken, Length: 4888, dtype: int64

In [78]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [79]:
y_train

3995    0
2610    0
3083    0
3973    0
4044    0
       ..
4426    0
466     0
3092    0
3772    0
860     1
Name: ProdTaken, Length: 3910, dtype: int64

In [80]:
print(X_train.shape, X_test.shape, y_train.shape ,y_test.shape)

(3910, 18) (978, 18) (3910,) (978,)

In [81]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3910 entries, 3995 to 860
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              3910 non-null   int64
 1   Age                     3910 non-null   float64
 2   TypeofContact           3910 non-null   object
 3   CityTier                3910 non-null   int64
 4   DurationOfPitch         3910 non-null   float64
 5   Occupation              3910 non-null   object
 6   Gender                  3910 non-null   object
 7   NumberOfFollowups       3910 non-null   float64
 8   ProductPitched          3910 non-null   object
 9   PreferredPropertyStar   3910 non-null   float64
 10  MaritalStatus           3910 non-null   object
 11  NumberOfTrips           3910 non-null   float64
 12  Passport                3910 non-null   int64
 13  PitchSatisfactionScore  3910 non-null   int64
 14  OwnCar                  3910 non-null   int64
 15  Designation             3910 non-null   object
 16  MonthlyIncome           3910 non-null   float64
 17  TotalVisitors           3910 non-null   float64
dtypes: float64(7), int64(5), object(6)
memory usage: 580.4+ KB

In [82]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

cat_features = X.select_dtypes(include = object).columns
cat_features

num_features = X.select_dtypes(exclude = object).columns
num_features

preprocess = ColumnTransformer(
    [
        ("Standard_Scaler",StandardScaler(),num_features),
        ("oh_encoder",OneHotEncoder(drop='first'),cat_features)
    ]    
)

In [83]:
preprocess

ColumnTransformer(transformers=[('Standard_Scaler', StandardScaler(),
                                 Index(['CustomerID', 'Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisitors'],
      dtype='object')),
                                ('oh_encoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object'))])

In [84]:
X_train = preprocess.fit_transform(X_train)

In [85]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.097030,-0.157926,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,0.679690,0.782966,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.109148,0.508072,-0.721400,0.690023,0.282777,-0.725271,1.511598,-0.632399,0.679690,0.782966,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.446526,1.396069,-0.721400,-1.020350,0.282777,1.771041,0.418708,-0.632399,0.679690,0.782966,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.081338,0.064073,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,1.408395,-1.277194,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.131980,0.730071,-0.721400,2.400396,-1.720227,-0.725271,1.511598,-0.632399,-0.049015,-1.277194,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.404450,-1.045924,-0.721400,-0.653841,1.284279,-0.725271,-0.674182,-0.632399,-1.506426,0.782966,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3906,-1.420107,0.397072,1.455047,-0.898180,-0.718725,1.771041,-1.220627,-0.632399,1.408395,0.782966,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3907,0.452945,0.064073,1.455047,1.545210,0.282777,-0.725271,2.058043,-0.632399,-0.777720,0.782966,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3908,0.937970,-1.045924,1.455047,1.789549,1.284279,-0.725271,-0.127737,-0.632399,-1.506426,0.782966,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3909,-1.139078,-1.711922,-0.721400,-0.776011,0.282777,-0.725271,-1.220627,1.581280,-0.049015,-1.277194,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [86]:
X_test

,CustomerID,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisitors
144,200144,32.0,Company Invited,3,13.0,Small Business,Male,5.0,Deluxe,3.0,Married,1.0,0,2,0,Manager,19668.0,3.0
79,200079,46.0,Self Enquiry,2,11.0,Small Business,Male,4.0,Deluxe,4.0,Married,1.0,1,5,0,Manager,20021.0,4.0
2098,202098,37.0,Self Enquiry,3,22.0,Small Business,Male,4.0,Deluxe,3.0,Married,5.0,0,5,1,Manager,21334.0,3.0
4738,204738,43.0,Self Enquiry,1,36.0,Small Business,Male,6.0,Deluxe,3.0,Unmarried,6.0,0,3,1,Manager,22950.0,5.0
2858,202858,25.0,Self Enquiry,3,7.0,Large Business,Female,4.0,Basic,4.0,Unmarried,3.0,1,4,1,Executive,21880.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2908,202908,38.0,Self Enquiry,1,7.0,Large Business,Female,4.0,Standard,3.0,Unmarried,6.0,0,5,1,Senior Manager,26169.0,5.0
2059,202059,29.0,Self Enquiry,1,6.0,Salaried,Female,4.0,Basic,5.0,Married,2.0,1,1,0,Executive,17319.0,2.0
4872,204872,35.0,Company Invited,1,24.0,Large Business,Male,5.0,Basic,3.0,Married,2.0,1,5,1,Executive,27178.0,5.0
843,200843,26.0,Self Enquiry,1,13.0,Small Business,Male,1.0,Basic,3.0,Divorced,2.0,0,5,1,Executive,22347.0,3.0
2572,202572,23.0,Self Enquiry,1,9.0,Large Business,Male,4.0,Basic,3.0,Divorced,2.0,0,5,1,Executive,21201.0,7.0

In [87]:
X_test = preprocess.transform(X_test)
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,-1.649781,-0.601925,1.455047,-0.287333,1.284279,-0.725271,-1.220627,-0.632399,-0.777720,-1.277194,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-1.696143,0.952071,0.366823,-0.531672,0.282777,0.522885,-1.220627,1.581280,1.408395,-1.277194,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,-0.256047,-0.046926,1.455047,0.812193,0.282777,-0.725271,0.965153,-0.632399,1.408395,0.782966,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1.626991,0.619072,-0.721400,2.522566,2.285781,-0.725271,1.511598,-0.632399,-0.049015,0.782966,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.286040,-1.378923,1.455047,-1.020350,0.282777,0.522885,-0.127737,1.581280,0.679690,0.782966,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,0.321703,0.064073,-0.721400,-1.020350,0.282777,-0.725271,1.511598,-0.632399,1.408395,0.782966,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
974,-0.283865,-0.934924,-0.721400,-1.142519,0.282777,1.771041,-0.674182,1.581280,-1.506426,-1.277194,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
975,1.722569,-0.268926,-0.721400,1.056532,1.284279,-0.725271,-0.674182,1.581280,1.408395,0.782966,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
976,-1.151204,-1.267923,-0.721400,-0.287333,-2.721728,-0.725271,-0.674182,-0.632399,1.408395,0.782966,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
977,0.082044,-1.600922,-0.721400,-0.776011,0.282777,-0.725271,-0.674182,-0.632399,1.408395,0.782966,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [88]:
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve

In [89]:
def metrics_test(train,pred,what_data):
    model_accuracy = accuracy_score(train, pred) 
    model_f1 = f1_score(train, pred, average='weighted') 
    model_precision = precision_score(train, pred) 
    model_recall = recall_score(train, pred)
    model_rocauc_score = roc_auc_score(train, pred)

    print(f"{what_data} metrics")
    print("--------------------------------------")     
    print(f"- Accuracy: {model_accuracy}")
    print(f'- F1 score: {model_f1}')    
    print(f'- Precision: {model_precision}')
    print(f'- Recall: {model_recall}')
    print(f'- Roc Auc Score: {model_rocauc_score}')

In [90]:
def model_execution(execution):
    if execution == 'pre execution':
        models = {
            'Logistic' : LogisticRegression(),
            'DT' : DecisionTreeClassifier(),
            'RF' : RandomForestClassifier(),
            'Gradient' : GradientBoostingClassifier()}
    
    elif execution == 'post hypertuning':
        models = {
            # "Random Forest":RandomForestClassifier(n_estimators=n_estimators,min_samples_split=min_samples_split,
            #                                     max_features=max_features,max_depth=max_depth)

            'Gradient' : GradientBoostingClassifier(loss= loss, criterion=criterion,min_samples_split= min_samples_split, 
                                                    n_estimators=n_estimators,max_depth= max_depth)
                        }

    for key in models.keys():
        model = models[key]
        print(key)

        model.fit(X_train,y_train)
        print(f"{key} model got trained by train data")

        #make predictions:
        y_train_pred = model.predict(X_train)
        print(f"y_train prediction is done by {key}")
        y_test_pred = model.predict(X_test)
        print(f"y_test prediction is done by {key}")

        #checking metrics now
        metrics_test(y_train, y_train_pred, 'train_data')
        metrics_test(y_test, y_test_pred, 'test_data')

In [91]:
model_execution('pre execution')

Logistic
Logistic model got trained by train data
y_train prediction is done by Logistic
y_test prediction is done by Logistic
train_data metrics
--------------------------------------
- Accuracy: 0.8468030690537084
- F1 score: 0.8213824877459137
- Precision: 0.7044025157232704
- Recall: 0.30727023319615915
- Roc Auc Score: 0.6388598886823299
test_data metrics
--------------------------------------
- Accuracy: 0.8353783231083844
- F1 score: 0.8085912220160385
- Precision: 0.6785714285714286
- Recall: 0.29842931937172773
- Roc Auc Score: 0.6320609112741739
DT
DT model got trained by train data
y_train prediction is done by DT
y_test prediction is done by DT
train_data metrics
--------------------------------------
- Accuracy: 1.0
- F1 score: 1.0
- Precision: 1.0
- Recall: 1.0
- Roc Auc Score: 1.0
test_data metrics
--------------------------------------
- Accuracy: 0.8987730061349694
- F1 score: 0.8969564756457147
- Precision: 0.764367816091954
- Recall: 0.6963350785340314
- Roc Auc Score: 0.8221192546418569
RF
RF model got trained by train data
y_train prediction is done by RF
y_test prediction is done by RF
train_data metrics
--------------------------------------
- Accuracy: 1.0
- F1 score: 1.0
- Precision: 1.0
- Recall: 1.0
- Roc Auc Score: 1.0
test_data metrics
--------------------------------------
- Accuracy: 0.9161554192229039
- F1 score: 0.9079656135652621
- Precision: 0.9658119658119658
- Recall: 0.5916230366492147
- Roc Auc Score: 0.7932702222636161
Gradient
Gradient model got trained by train data
y_train prediction is done by Gradient
y_test prediction is done by Gradient
train_data metrics
--------------------------------------
- Accuracy: 0.8923273657289003
- F1 score: 0.8796077621831827
- Precision: 0.8793103448275862
- Recall: 0.4897119341563786
- Roc Auc Score: 0.7371539865689156
test_data metrics
--------------------------------------
- Accuracy: 0.8640081799591002
- F1 score: 0.8459205562670343
- Precision: 0.7959183673469388
- Recall: 0.4083769633507853
- Roc Auc Score: 0.6914820013704372

In [92]:
# now do hypertuning the models

# rf_params = {"max_depth": [5, 8, 15, None, 10],
#              "max_features": [5, 7, "auto", 8],
#              "min_samples_split": [2, 8, 15, 20],
#              "n_estimators": [100, 200, 500, 1000] #how many decision trees are created?
#               } 

gradient_param={"loss": ['log_loss','deviance','exponential'],
             "criterion": ['friedman_mse','squared_error','mse'],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500],
              "max_depth": [5, 8, 15, None, 10]
                }

randomcv_models = [
                   #("RF", RandomForestClassifier(), rf_params),
                    ("Gradient" , GradientBoostingClassifier(), gradient_param
                   )                   
                   ]

In [93]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [94]:
for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

---------------- Best Params for Gradient -------------------
{'n_estimators': 500, 'min_samples_split': 15, 'max_depth': 8, 'loss': 'log_loss', 'criterion': 'friedman_mse'}

In [95]:
loss = model_param[name]['loss']
print(loss)
criterion = model_param[name]['criterion']
print(criterion)
min_samples_split = model_param[name]['min_samples_split']
print(min_samples_split)
n_estimators = model_param[name]['n_estimators']
print(n_estimators)
max_depth = model_param[name]['max_depth']
print(max_depth)

log_loss
friedman_mse
15
500
8

In [96]:
model_execution('post hypertuning')

Gradient
Gradient model got trained by train data
y_train prediction is done by Gradient
y_test prediction is done by Gradient
train_data metrics
--------------------------------------
- Accuracy: 1.0
- F1 score: 1.0
- Precision: 1.0
- Recall: 1.0
- Roc Auc Score: 1.0
test_data metrics
--------------------------------------
- Accuracy: 0.9529652351738241
- F1 score: 0.9515161436232854
- Precision: 0.9447852760736196
- Recall: 0.806282722513089
- Roc Auc Score: 0.8974234451193144