In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [ ]:
cars_df  = pd.read_csv('../cardekho_imputated.csv', index_col=[0])

In [3]:
cars_df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [4]:
#check if any null values

cars_df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [6]:
# droping unwanted features

cars_df.drop('brand', axis=1, inplace=True)
cars_df.drop('model', axis=1, inplace=True)

In [7]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.4+ MB

In [8]:
# As we can see, it has so many unique values we consider doing labeling to it.

len(cars_df['car_name'].unique())

121

In [9]:
# we can do onehot encoder for this

len(cars_df['seller_type'].unique()),len(cars_df['fuel_type'].unique()),len(cars_df['transmission_type'].unique())

(3, 5, 2)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

X = cars_df.drop('selling_price', axis=1)
y = cars_df['selling_price']

In [11]:
X

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Skoda Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [12]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
19537     250000
19540     925000
19541     425000
19542    1225000
19543    1200000
Name: selling_price, Length: 15411, dtype: int64

In [13]:
X['car_name'] = LabelEncoder().fit_transform(X['car_name'])

In [14]:
X

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,65,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,34,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,40,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,65,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,20,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,39,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,73,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,101,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,64,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,27,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [15]:
preprocessor = ColumnTransformer(
                    [
                        ("StandardScaler",StandardScaler(),X.select_dtypes(exclude='object').columns),
                        ("OHE",OneHotEncoder(drop='first'),['seller_type','fuel_type','transmission_type'])
                    ],remainder='passthrough'
                                )

In [16]:
X=preprocessor.fit_transform(X)

In [17]:
X

array([[ 1.37617376e-01,  9.83561835e-01,  1.24733473e+00, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [-8.74863763e-01, -3.43933310e-01, -6.90016231e-01, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [-6.78899672e-01,  1.64730941e+00,  8.49241548e-02, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       ...,
       [ 1.31340192e+00, -1.20595237e-02,  2.20538722e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 1.04956694e-01, -3.43933310e-01,  7.25418502e+01, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [-1.10348854e+00, -1.33955467e+00, -8.25630799e-01, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00]],
      shape=(15411, 14))

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=12)

In [19]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12328, 14), (3083, 14), (12328,), (3083,))

## Model training & Model selection

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [21]:
##Create a Function to Evaluate Model
def metrics_test(true, predicted, what_data):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    
    print(f"{what_data} metrics")
    print("--------------------------------------")     
    print(f"- Mean Absolute Error: {mae}")
    print(f'- Mean Squared Error: {mse}')    
    print(f'- Root Mean Squared Error: {rmse}')
    print(f'- R2 Square: {r2_square}')

In [22]:
def model_execution(execution):
    if execution == 'pre execution':
        models = {
            'LinearRegression' : LinearRegression(),
            'Ridge' : Ridge(),
            'Lasso' : Lasso(),
            'RandomForestRegressor' : RandomForestRegressor(),
            'KNeighborsRegressor' : KNeighborsRegressor(),
            'DecisionTreeRegressor' : DecisionTreeRegressor()
            }
    
    elif execution == 'post hypertuning':
        models = {
            "Random Forest":RandomForestRegressor(n_estimators=n_estimators,min_samples_split=min_samples_split,
                                                max_features=max_features,max_depth=max_depth)
            }

    for key in models.keys():
        model = models[key]
        print(key)

        model.fit(X_train,y_train)
        print(f"{key} model got trained by train data")

        #make predictions:
        y_train_pred = model.predict(X_train)
        print(f"y_train prediction is done by {key}")
        y_test_pred = model.predict(X_test)
        print(f"y_test prediction is done by {key}")

        #checking metrics now
        metrics_test(y_train, y_train_pred, 'train_data')
        metrics_test(y_test, y_test_pred, 'test_data')

In [23]:
model_execution('pre execution')

LinearRegression
LinearRegression model got trained by train data
y_train prediction is done by LinearRegression
y_test prediction is done by LinearRegression
train_data metrics
--------------------------------------
- Mean Absolute Error: 258044.56927996693
- Mean Squared Error: 235462983686.71436
- Root Mean Squared Error: 485245.28198295174
- R2 Square: 0.6614548629608936
test_data metrics
--------------------------------------
- Mean Absolute Error: 270029.5279763439
- Mean Squared Error: 547169968240.5626
- Root Mean Squared Error: 739709.3809331896
- R2 Square: 0.5492822776743411
Ridge
Ridge model got trained by train data
y_train prediction is done by Ridge
y_test prediction is done by Ridge
train_data metrics
--------------------------------------
- Mean Absolute Error: 258012.6059565092
- Mean Squared Error: 235464168790.71655
- Root Mean Squared Error: 485246.5031205444
- R2 Square: 0.661453159036181
test_data metrics
--------------------------------------
- Mean Absolute Error: 269947.57141089725
- Mean Squared Error: 547193772957.96674
- Root Mean Squared Error: 739725.4713459357
- R2 Square: 0.5492626691273963
Lasso
Lasso model got trained by train data
y_train prediction is done by Lasso
y_test prediction is done by Lasso
train_data metrics
--------------------------------------
- Mean Absolute Error: 258042.39083042525
- Mean Squared Error: 235462990608.3967
- Root Mean Squared Error: 485245.2891150997
- R2 Square: 0.6614548530090029
test_data metrics
--------------------------------------
- Mean Absolute Error: 270022.9007464397
- Mean Squared Error: 547168529258.20294
- Root Mean Squared Error: 739708.4082651777
- R2 Square: 0.5492834630004542
RandomForestRegressor
RandomForestRegressor model got trained by train data
y_train prediction is done by RandomForestRegressor
y_test prediction is done by RandomForestRegressor
train_data metrics
--------------------------------------
- Mean Absolute Error: 38390.00369175088
- Mean Squared Error: 9740062649.323301
- Root Mean Squared Error: 98691.75573128335
- R2 Square: 0.9859958843944153
test_data metrics
--------------------------------------
- Mean Absolute Error: 110822.41122875034
- Mean Squared Error: 291694551758.5421
- Root Mean Squared Error: 540087.5408288384
- R2 Square: 0.75972383059296
KNeighborsRegressor
KNeighborsRegressor model got trained by train data
y_train prediction is done by KNeighborsRegressor
y_test prediction is done by KNeighborsRegressor
train_data metrics
--------------------------------------
- Mean Absolute Error: 89881.65355288773
- Mean Squared Error: 58515853293.468124
- Root Mean Squared Error: 241900.50287973386
- R2 Square: 0.9158667860993593
test_data metrics
--------------------------------------
- Mean Absolute Error: 124533.90366526111
- Mean Squared Error: 406529325903.54364
- Root Mean Squared Error: 637596.5228132472
- R2 Square: 0.6651315268288376
DecisionTreeRegressor
DecisionTreeRegressor model got trained by train data
y_train prediction is done by DecisionTreeRegressor
y_test prediction is done by DecisionTreeRegressor
train_data metrics
--------------------------------------
- Mean Absolute Error: 4945.895522388059
- Mean Squared Error: 379437983.99307805
- Root Mean Squared Error: 19479.167949198396
- R2 Square: 0.9994544497726245
test_data metrics
--------------------------------------
- Mean Absolute Error: 141721.8942588388
- Mean Squared Error: 337050492414.1348
- Root Mean Squared Error: 580560.4984961816
- R2 Square: 0.7223629967519498

In [24]:
#Initialize few parameter for Hyperparamter tuning
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [25]:
# Models list for Hyperparameter tuning
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ("RF", RandomForestRegressor(), rf_params)
                   
                   ]

In [ ]:
##Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [ ]:
n_estimators = model_param['RF']['n_estimators']
min_samples_split = model_param['RF']['min_samples_split']
max_features = model_param['RF']['max_features']
max_depth = model_param['RF']['max_depth']

1000

In [ ]:
model_execution('post hypertuning')

Random Forest
Random Forest model got trained by train data
y_train prediction is done by Random Forest
y_test prediction is done by Random Forest
train_data metrics
--------------------------------------
- Mean Absolute Error: 51099.57607475364
- Mean Squared Error: 10639182287.592323
- Root Mean Squared Error: 103146.41189877776
- R2 Square: 0.984703143699524
test_data metrics
--------------------------------------
- Mean Absolute Error: 107400.8278003276
- Mean Squared Error: 285713905254.8994
- Root Mean Squared Error: 534522.1279375621
- R2 Square: 0.7646502401669804